#hidden {
    display: none;
}

body{
    background-color: #9bc3bc ;
}

header {
    display: flex;
    justify-content: space-around;
}

h3{
    color: #2f3E46 ;
    font-size: 30px;
    font-weight: bold;
}
.startScreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
}

.quiz {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quiz p {
    text-align: center;
    margin-bottom: 2%;
}

.scores{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scores h3{
    font-size: 35px;
}

.custom-btn {
    border-color: #354f52;
    background-color: #354f52;
    color: aliceblue;
}

.custom-btn:hover {
    border-color: #9bc3bc;
    background-color: #9bc3bc;
}

.custom-btn:focus{
    border-color: #354f52;
    background-color: #354f52; 
}

.custom:active:focus{
    border-color: #354f52;
    background-color: #354f52; 
}

.startScreen div {
    text-align: center;
    background-color: aliceblue;
    color: #2f3E46;
}

#quizId {
    background-color: aliceblue ;

}

#quizId p{
    color: #2f3E46 ;
    font-size: large;
    font-weight: bold;
}

#timer {
    color:aliceblue ;
    font-size: 50px;
    font-weight: bold;
}

#formScreen p{
    color: #2f3E46 ;
    font-size: 30px;
    font-weight: bold;
}

.custom-light-background{
    background-color: rgb(255, 255, 255) ;
    height: 50%;
    width: 30%;
}

scoresUl p{
        color: #2f3E46 ;
        font-size: 30px;
        font-weight: bold;
}

.quizButtons {
    text-align: left;
    width: 500px;
}